<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.vkassin"
      android:versionCode="1"
      android:versionName="1.0">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".BuhWidget"
                  android:label="@string/app_name">
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>

    <activity android:name=".NewsActivity">
    </activity>
<activity android:name=".QAActivity"></activity>

<activity android:name=".NewsDetail">

                <intent-filter>
                	<action android:name="android.intent.action.SEND" />
            	</intent-filter>

</activity>

<activity android:name=".QADetail">

                <intent-filter>
                	<action android:name="android.intent.action.SEND" />
            	</intent-filter>

</activity>

<activity android:name=".FavrActivity"></activity>
<activity android:name=".PodActivity"></activity>
<activity android:name=".SettActivity"></activity>
<activity android:name=".AskActivity"></activity>

</application>


</manifest> 